global:
  github:
    user: ""
    token: ""
    fg_token: ""  
  basePath: /opt/shared
image:
  pullSecret: ghcrio
  pullToken: ""

initData:
  image:
    repository: svtechnmaa/svtech_debuger
    tag: v1.0.3
    pullPolicy: IfNotPresent

go_backend:
  deployment:
    image:
      repository: ghcr.io/svtechnmaa/svtech_topology_visualizer_be
      pullPolicy: Always
      tag: latest
  service:
    port: "80"
  configmap:
    data:
      BACKEND_URL: http://go-backend
      DATABASE_URL: backend:backend@tcp(mariadb.nmaa.svc.cluster.local:3306)/svtech?parseTime=true
      FRONTEND_URL: http://topology-frontend
      PORT: "4000"
      REDIS_ADDR: redis:6379
      REDIS_ADDRESS: redis:6379
      UPLOAD_DIR: /data
      PERMISSIONS_ENABLED: "true"
      TRAEFIK_TEMPLATE: /data/sample-traefik-config-template.yaml # this template file will be used to generate traefik config, user can provide their own template file based on their requirement

seed_file:
  datasources:
    redis:
      url: redis://redis:6379
      username: ""
      password: ""
    arangodb: 
      url: https://svtech-arangodb-ea.arango.svc.cluster.local:8529
      username: ""
      password: ""
      topo_schema: topology
    grafana:
      url: http://grafana.nmaa.svc.cluster.local:3000/grafana/  
      username: ""
      password: ""
    icinga_redis:
      url: redis://icinga2.nmaa.svc.cluster.local:6379
      username: ""
      password: ""
      
namespace: new-fe
nmaa_namespace: "nmaa"
topology_frontend:
  deployment:
    image:
      repository: ghcr.io/svtechnmaa/svtech_topology_visualizer_fe
      pullPolicy: Always
      tag: latest
  service:
    port: "80"
    targetPort: "3000"
  configmap:
    data:
      BACKEND_URL: http://go-backend:80
      NODE_ENV: production
      PORT: "3000"

traefik:
  deployment:
    image:
      repository: traefik
      pullPolicy: Always
      tag: v3.1.2
  service:
    ports:
      - name: https
        port: 443
        targetPort: 443
      - name: http
        port: 80
        targetPort: 80
    type: LoadBalancer
    loadBalancerIP: "10.98.0.186"
  config_template:
    http:
      middlewares:
        dashboard_auth: ""
        grafana_auth: ""

redis:
  deployment:
    image:
      repository: redis
      pullPolicy: Always
      tag: 7-alpine
  service:
    port: "6379"


mysql:
  enable: false
  deployment:
    image:
      repository: mysql
      pullPolicy: Always
      tag: "8"
  service:
    port: "3306"
  configmap:
    data:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: svtech
      MYSQL_PASSWORD: backend
      MYSQL_ROOT_HOST: '%'
      MYSQL_ROOT_PASSWORD: backend
      MYSQL_USER: backend

asynqmon:
  deployment:
    image:
      repository: webconnex/asynqmon
      pullPolicy: Always
      tag: latest
  service:
    port: "4000"
