apiVersion: v1
data:
  .env: |
    API_URL=https://{{ .Values.global.frontendVip }}
    REFLEX_CHECK_LATEST_VERSION="False"
    DB_URL=mysql+pymysql://{{ .Values.backend.config.db_user }}:{{ .Values.backend.config.db_password }}@{{ .Values.backend.config.db_host }}/{{ .Values.backend.config.db_database }}
    GRAFANA_URL=https://{{ .Values.global.frontendVip }}/grafana
    ICINGA_REDIS_DB={{ .Values.backend.config.icinga_redis_db | quote }}
    ICINGA_REDIS_HOST={{ .Values.backend.config.icinga_redis_host | quote }}
    ICINGA_REDIS_PORT={{ .Values.backend.config.icinga_redis_port | quote }}
    ICINGADB_DATABASE={{ .Values.backend.config.icingadb_database | quote }}
    ICINGADB_HOST={{ .Values.backend.config.icingadb_host | quote }}
    ICINGADB_PASSWORD={{ .Values.backend.config.icingadb_password | quote }}
    ICINGADB_PORT={{ .Values.backend.config.icingadb_port | quote }}
    ICINGADB_USER={{ .Values.backend.config.icingadb_user | quote }}
    INFLUXDB_DATABASE={{ .Values.backend.config.influxdb_database | quote }}
    INFLUXDB_HOST={{ .Values.backend.config.influxdb_host | quote }}
    INFLUXDB_PASSWORD={{ .Values.backend.config.influxdb_password | quote }}
    INFLUXDB_PORT={{ .Values.backend.config.influxdb_port | quote }}
    INFLUXDB_USER={{ .Values.backend.config.influxdb_user | quote }}
    REDIS_HOST={{ .Chart.Name }}-redis
    REDIS_PORT="6379"
    SEAWEEDFS_URL={{ .Values.backend.config.seaweedfs_url | quote }}
    TASK_FAILURE_TTL={{ .Values.backend.config.task_failure_ttl | quote }}
    TASK_RESULT_TTL={{ .Values.backend.config.task_result_ttl | quote }}
    TASK_TIMEOUT={{ .Values.backend.config.task_timeout | quote }}
kind: ConfigMap
metadata:
  name: {{ include "common.names.fullname" . }}-env
