postgresql-ha: # Since we are using alias 'clickhouse' for the dependency
  postgresql:
    username: postgres
    password: "juniper@123"
    database: "etl_nmaa"
    repmgrUsername: repmgr
    repmgrPassword: "juniper@123"
    repmgrDatabase: "repmgr"
    existingSecret: ""
    image:
      registry: docker.io
      repository: bitnamilegacy/postgresql-repmgr
      tag: 17.6.0-debian-12-r2
      digest: ""
      pullPolicy: IfNotPresent
      pullSecrets: []
      ## Set to true if you would like to see extra information on logs
      ##
      debug: false
  pgpool:
    image:
      registry: docker.io
      repository: bitnamilegacy/pgpool
      tag: 4.6.3-debian-12-r0
      digest: ""
      pullPolicy: IfNotPresent
      pullSecrets: []
      debug: false