# Default values for mageai.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  mageai:
    pullCode: true
    projectName: "NMAA_pipelines"
  github:
    user: ""
    token: ""
    fg_token: ""  
  basePath: /opt/shared/
  sharedVolume:
    enabled: true
  hostPathPV:
    enabled: true # This will be ignored if using seaweedfs storage class
  sharedPersistenceVolume:
    # mageai-data volume
    - volumeName: mageai-data-volume
      pvcName: mageai-data-pvc
      storageSize: 2G
      path: /home/src/data
      accessModes: ReadWriteMany
      shareFor:
        - mage-ai
      storageClass: seaweedfs-storage
      # storageClass: mageai-hostpath-data # for hostPath PV
      folderName: mageai-data # for hostPath

    - volumeName: mageai-pipeline-volume
      pvcName: mageai-pipeline-pvc
      storageSize: 2G
      path: /home/src
      accessModes: ReadWriteMany
      shareFor:
        - mage-ai
      storageClass: seaweedfs-storage
      # storageClass: mageai-hostpath-pipeline # for hostPath PV
      folderName: mageai-pipeline # for hostPath

    - volumeName: mageai-log-volume
      pvcName: mageai-log-pvc
      storageSize: 2G
      path: /home/src/logs_dir
      accessModes: ReadWriteMany
      shareFor:
        - mage-ai
      storageClass: seaweedfs-storage
      # storageClass: mageai-hostpath-log # for hostPath PV
      folderName: mageai-log # for hostPath
  security:
    allowInsecureImages: true
timezone: Asia/Ho_Chi_Minh

initRepo:
  image:
    repository: svtechnmaa/svtech_debuger
    tag: v1.0.3
    pullPolicy: IfNotPresent

  repo: "netlogic_ETL_pipelines:latest"
  branch: "main"
updateStrategy: RollingUpdate
podManagementPolicy: OrderedReady
podAffinityPreset: ""
podAntiAffinityPreset: soft
nodeAffinityPreset:
  ## Node affinity type
  ### Allowed values: soft, hard
  type: ""
  ### Node label key to match
  ### E.g.
  ### key: "kubernetes.io/e2e-az-name"
  ###
  key: ""
  ### Node label values to match
  ### E.g.
  ### values:
  ###   - e2e-az1
  ###   - e2e-az2
  ###
  values: []


replicaCount: 1
standaloneScheduler: true

# Effective if standaloneScheduler is true
scheduler:
  replicaCount: 1
  name: mageai-scheduler
  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
  # hpa:
  #   minReplicas: 1
  #   maxReplicas: 10
  #   targetCPUUtilizationPercentage: 50

# Effective if standaloneScheduler is true
webServer:
  replicaCount: 1
  name: mageai-webserver
  resources: {}
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    # limits:
    #   cpu: 100m
    #   memory: 128Mi
    # requests:
    #   cpu: 100m
    #   memory: 128Mi
  # hpa:
  #   minReplicas: 1
  #   maxReplicas: 10
  #   targetCPUUtilizationPercentage: 50

# Enable Postgres as the DB
postgresql:
  enabled: true
  fullnameOverride: "postgresql-service"
  auth:
    username: postgres
    password: "juniper@123"
    database: "mageai_nmaa"
  image:
    repository: bitnamilegacy/postgresql
# A dependency conflict occurs with the `common` library chart in the PostgreSQL subchart when intergrated in nmaa stack.
# As a workaround, Mage AI is configured to use an external PostgreSQL instance.
# The external PostgreSQL must be provisioned prior to Helm installation.
postgresqlExternal:
  enabled: false
  postgresqlExternalHost: "postgresql-ha-pgpool" 
  auth:
    username: postgres
    password: "juniper@123"
    database: "etl_nmaa"

#we deploy postgresql-ha when postgresqlExternal is enabled  
postgresql-ha: # Since we are using alias 'postgresql-ha' for the dependency
  nameOverride: postgresql-ha
  postgresql:
    username: postgres
    password: "juniper@123"
    database: "etl_nmaa"
    repmgrUsername: repmgr
    repmgrPassword: "juniper@123"
    repmgrDatabase: "repmgr"
    image:
      registry: ghcr.io
      repository: svtechnmaa/postgresql-repmgr
      tag: 17.6.0-debian-12-r2
      digest: ""
      pullPolicy: IfNotPresent
      pullSecrets:
        - ghcr-pull-secret
      ## Set to true if you would like to see extra information on logs
      ##
      debug: false
    replicaCount: 3
  pgpool:
    image:
      registry: ghcr.io
      repository: svtechnmaa/pgpool
      tag: 4.6.3-debian-12-r0
      digest: ""
      pullPolicy: IfNotPresent
      pullSecrets:
        - ghcr-pull-secret
      debug: false
  persistence:
    storageClass: postgresql-ha-postgresql
    accessModes:
      - ReadWriteOnce
    size: 3Gi
  volumePermissions:
    enabled: true
    image:
      registry: ghcr.io
      repository: svtechnmaa/os-shell
      tag: 11
      digest: ""
      pullPolicy: IfNotPresent
      pullSecrets:
        - ghcr-pull-secret
# logFolderExternal:
#   enabled: true
#   path: /home/src/logs_dir

# Enable redis if you want more replica
redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false
  # Your custom redis url (make sure redis.enabled is set to false)
  customRedisURL: ""
  image:
    registry: docker.io
    repository: bitnamilegacy/redis
    tag: 7.2.1-debian-11-r0
    pullPolicy: IfNotPresent
  #we try to use our manifest to deploy redis not from bitnami as original
  replicaCount: 1
  service:
    type: ClusterIP
    port: 6379
  allowEmptyPass: yes

image:
  repository: ghcr.io/svtechnmaa/svtech_netlogic_etl
  tag: v1.6
  pullPolicy: Always

imagePullSecrets:
  - name: "ghcr-pull-secret"
nameOverride: "mageai"
fullnameOverride: "mageai"

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: "mageai"

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  type: LoadBalancer
  port: 6789
  # Annotations to add to the service
  annotations: {}

# Configure extra options for containers' liveness probes
# If not configured, the probe is enabled using the following values
livenessProbe:
  enabled: true
  path: /api/status
  port: http
  initialDelaySeconds: 5
  # failureThreshold:
  # periodSeconds:
  # successThreshold:
  # terminationGracePeriodSeconds:
  timeoutSeconds: 10

# Configure extra options for containers' readiness probes
# If not configured, the probe is enabled using the following values
readinessProbe:
  enabled: true
  path: /api/status
  port: http
  initialDelaySeconds: 5
  # failureThreshold:
  # periodSeconds:
  # successThreshold:
  # terminationGracePeriodSeconds:
  timeoutSeconds: 1

# Custom liveness probe
customLivenessProbe: {}

# Custom readiness probe
customReadinessProbe: {}

# Horizontal pod autoscaler
# hpa:
#   minReplicas: 1
#   maxReplicas: 10
#   targetCPUUtilizationPercentage: 50

# We recommend creating the ingress separately instead of creating it using this chart.
# There is a corresponding Mage-Ingress chart to create an ingress for Mage if needed.
# This section is kept here for backwards compatibility.
ingress:
  enabled: true
  # className: ""
  annotations:
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/affinity-mode: "persistent"
  hosts:
    - paths:
        - path: /mageai
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}

volumeEnabled: true

extraVolumeMounts: {}
  # - name: mage-log
  #   mountPath: /home/src/logs_dir

extraVolumes: {}
  # - name: mage-log
  #   persistentVolumeClaim:
  #     claimName: pvc-mageai-logs

persistence:
  # enabled: true
  size: 3Gi
  # dynamicProvisioning: false
  # # storageClassName: storage-class-mageai
  # storageClassName: seaweedfs-storage
  # csi:
  #   driver: seaweedfs-csi-driver
  # pathFolder: mageai
  hostPath: /data/postgresql-ha-postgresql

# config: Default configuration for mageai as environment variables. These get injected directly in the container.
config: {}

# existingSecret: Specifies an existing secret to be used as environment variables. These get injected directly in the container.
existingSecret: ""

# secrets: Default secrets for mageai as environment variables. These get injected directly in the container.
# Consider using a secret manager first, before sourcing secrets as environment variables.
secrets: {}

# extraEnvs: Extra environment variables
extraEnvs:
  - name: KUBE_NAMESPACE
    valueFrom:
      fieldRef:
        fieldPath: metadata.namespace