apiVersion: v1
kind: Service
metadata:
  labels: 
    {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: {{ .Chart.Name }}-orchestrator
  name: {{ .Chart.Name }}-orchestrator
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    {{- include "common.labels.matchLabels" . | nindent 4 }}
    app.kubernetes.io/component: {{ .Chart.Name }}-orchestrator
  type: {{ .Values.orchestrator.service.type }}
