global:
  basePath: /opt/shared
  
  # Define the shared persistence volume here. So that the sub-chart will loop via this list to create the PVClaim if sub-chart name is exists in `shareFor`
  sharedPersistenceVolume:
    - volumeName: automation-repo-volume
      pvcName: automation-repo-pvc
      storageSize: 2Gi
      path: /opt/SVTECH-Junos-Automation
      accessModes: ReadWriteMany
      shareFor:
        - preparation
        - rundeck
        - rundeck-option-provider
        - debuger
        - csv-view
        - init-data-grafana
        - icinga2
        - icinga2-satellite
        - airflow
      storageClass: seaweedfs-storage
      # storageClass: automation-repo-hostpath

    - volumeName: icinga2-zones-volume
      pvcName: icinga2-zones-pvc
      storageSize: 2Gi
      path: /etc/icinga2/zones.d
      accessModes: ReadWriteMany 
      shareFor:
        - icinga2
        - rundeck
        - rundeck-option-provider
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: icinga2-zones-hostpath

    - volumeName: icinga2-conf-volume
      pvcName: icinga2-conf-pvc
      storageSize: 100Mi
      path: /etc/icinga2/conf.d
      accessModes: ReadWriteMany 
      shareFor:
        - icinga2
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: icinga2-conf-hostpath

    - volumeName: icinga2-plugins-volume
      pvcName: icinga2-plugins-pvc
      storageSize: 2Gi
      path: /usr/share/icinga2/plugins/libexec
      accessModes: ReadWriteMany 
      shareFor:
        - icinga2
        - debuger
        - icinga2-satellite
      storageClass: seaweedfs-storage
      # storageClass: icinga2-plugins-hostpath


    # icinga2 scripts pvc  
    - volumeName: icinga2-scripts-volume
      pvcName: icinga2-scripts-pvc
      storageSize: 100Mi
      path: /etc/icinga2/scripts
      accessModes: ReadWriteMany 
      shareFor:
        - icinga2
        - debuger
        - icinga2-satellite
      storageClass: seaweedfs-storage
      # storageClass: icinga2-scripts-hostpath

    - volumeName: gitlist-data-volume
      pvcName: gitlist-data-pvc
      storageSize: 2Gi
      path: /opt/gitlist
      accessModes: ReadWriteMany
      shareFor:
        - gitlist
        - rundeck
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: gitlist-data-hostpath

    - volumeName: nagvis-maps-volume
      pvcName: nagvis-maps-pvc
      storageSize: 2Gi
      path: /usr/share/nagvis/etc/maps
      accessModes: ReadWriteMany
      shareFor:
        - nagvis
        - rundeck
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: nagvis-maps-hostpath

    - volumeName: rundeck-var-volume
      pvcName: rundeck-var-pvc
      storageSize: 10Gi
      path: /home/rundeck/var
      accessModes: ReadWriteMany
      shareFor:
        - rundeck
        - debuger
      storageClass: seaweedfs-storage 
      # storageClass: rundeck-var-hostpath

    - volumeName: rundeck-server-config-volume
      pvcName: rundeck-server-config-pvc
      storageSize: 1Gi
      path: /home/rundeck/server/config
      accessModes: ReadWriteMany
      shareFor:
        - rundeck
      storageClass: seaweedfs-storage
      # storageClass: rundeck-server-config-hostpath

    - volumeName: rundeck-option-provider-realm-volume
      pvcName: rundeck-option-provider-realm-pvc
      storageSize: 1Gi
      path: /etc/rundeck
      accessModes: ReadWriteMany
      shareFor:
        - rundeck-option-provider
      storageClass: seaweedfs-storage
      # storageClass: rundeck-option-provider-realm-hostpath

    - volumeName: nagvis-auth-db-volume
      pvcName: nagvis-auth-db-pvc
      storageSize: 1Gi
      path: /usr/share/nagvis/etc
      subPath: auth.db
      accessModes: ReadWriteMany
      shareFor:
        - nagvis
        - rundeck
      storageClass: seaweedfs-storage
      # storageClass: nagvis-auth-db-hostpath

    - volumeName: rundeck-etc-config-volume
      pvcName: rundeck-etc-config-pvc
      storageSize: 1Gi
      path: /home/rundeck/etc
      accessModes: ReadWriteMany
      shareFor:
        - rundeck
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: rundeck-etc-config-hostpath

    - volumeName: rundeck-jsnapy-volume
      pvcName: rundeck-jsnapy-pvc
      storageSize: 10Gi
      path: /var/lib/rundeck/jsnapy
      accessModes: ReadWriteMany
      shareFor:
        - rundeck
        - rundeck-option-provider
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: rundeck-jsnapy-hostpath

    - volumeName: rundeck-backup-volume
      pvcName: rundeck-backup-pvc
      storageSize: 10Gi
      path: /opt/backup
      accessModes: ReadWriteMany
      shareFor:
        - rundeck
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: rundeck-backup-hostpath

    - volumeName: csv-output-volume
      pvcName: csv-output-pvc
      storageSize: 10Gi
      path: /opt/csv-output
      accessModes: ReadWriteMany
      shareFor:
        - rundeck
        - csv-view
        - debuger
      storageClass: seaweedfs-storage
      # storageClass: csv-output-hostpath

    - volumeName: thruk-volume
      pvcName: thruk-pvc
      storageSize: 30Mi
      path: /etc/thruk
      accessModes: ReadWriteMany
      shareFor:
        - thruk
        - rundeck
      storageClass: seaweedfs-storage
      # storageClass: thruk-hostpath

    - volumeName: icingaweb-volume
      pvcName: icingaweb-pvc
      storageSize: 10Mi
      path: /data
      accessModes: ReadWriteMany
      shareFor:
        - icingaweb
        - rundeck
      storageClass: seaweedfs-storage
      # storageClass: icingaweb-hostpath
    
    # snmp-manager volume
    - volumeName: snmp-manager-volume
      pvcName: snmp-manager-pvc
      storageSize: 10Mi
      path: /etc/snmptt/
      accessModes: ReadWriteMany
      shareFor:
        - snmp-manager
      storageClass: seaweedfs-storage
      # storageClass: snmp-manager-hostpath