global:
  TZ: Asia/Ho_Chi_Minh
  akvorado:
    enabled: false
  clickhouse:
    enabled: true
    clusterName: clickhouse
    replicaCount: 3
    shardCount: 1
    users:
    - name: juniper
      password: ""
      networks: 
      - 0.0.0.0/0
  clickhouseKeeper:
    enabled: true

timezone: "Asia/Ho_Chi_Minh"

clickhouseKeeper:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/component
              operator: In
              values:
              - clickhouse-keeper
          topologyKey: "kubernetes.io/hostname"
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: clickhouse-keeper
            operator: In
            values:
            - enabled
  replicaCount: 3
  image:
    repository: "clickhouse/clickhouse-keeper"
    tag: "25.5"
    pullPolicy: IfNotPresent
  log_level: trace
  resources:  
    requests:
      memory: "256Mi"
      cpu: "1"
    limits:
      memory: "4Gi"
      cpu: "2"
  securityContext:
    fsGroup: 101
  volumes:
    accessModes:
      - ReadWriteOnce
    resources:
      limits: {}
      requests:
        storage: 10Gi


clickhouse:
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/component
              operator: In
              values:
              - clickhouse
          topologyKey: "kubernetes.io/hostname"
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
          - key: clickhouse-data
            operator: In
            values:
            - enabled

  init:
    image:
      registry: docker.io
      repository: busybox
      tag: 1.33
      pullPolicy: IfNotPresent
  image:
    repository: "clickhouse/clickhouse-server"
    tag: "24.8"
    pullPolicy: IfNotPresent
  volumes:
    data:
      persistentVolumeReclaimPolicy: Retain
      accessModes:
        - ReadWriteOnce
      resources:
        limits: {}
        requests: 
          storage: 100Gi
    log:
      persistentVolumeReclaimPolicy: Retain
      accessModes:
        - ReadWriteOnce
      resources:
        limits: {}
        requests: 
          storage: 100Mi
